# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Build and Output
# =========================
target/
out/

# =========================
# Tomcat / Jetty / Server configs
# =========================
.smarttomcat/
*.log
*.tmp

# =========================
# Libraries (local JARs)
# =========================
libs/
*.jar

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Backup files
# =========================
*.bak
*.swp
*~
