<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <bean id="circle"
          class="session_2_task.Circle">
        <constructor-arg value="3"/>
    </bean>

    <bean id="rectangle"
          class="session_2_task.Rectangle">
        <constructor-arg value="3"/>
        <constructor-arg value="4"/>
    </bean>

</beans>





